{{- $path := path.Join .dir .file -}}
{{- $ext := replace (path.Ext .file) "." "" -}}
{{- $language := "" -}}
{{- $key := .key -}}
{{- $title := .key | humanize -}}
{{- if eq (len (split .file ".")) 3 -}}
        {{- $language = index (split .file "." ) 1  -}}
        {{- $key = printf "%s-%s" $language $key -}}
        {{- $title = printf "%s | %s" $language $title -}}
{{- end -}}

{{- $singles := slice -}}
{{- $fields := slice -}}
{{- $standardMenu := slice (dict "name" "string" "url" "string" "weight" 1 "parent" "string" "identifier" "string") -}}
{{- if eq .dir "/" -}}
    {{- $menus := dict}}
    {{- range $menu, $items := .menus -}}
          {{- $menus = $menus | merge (dict $menu $standardMenu) -}}
    {{- end -}}
    {{- $fields = $fields | append (partial "createField" (dict "key" "menu" "value" $menus "file" $path )) -}}
{{- else -}}
    {{- range $menu, $items := .menus -}}
          {{- $fields = $fields | append (partial "createField" (dict "key" $menu "value" $standardMenu "file" $path )) -}}
    {{- end -}}
{{- end -}}
{{- $single := dict "key" $key "title" $title "file" $path "dataformat" $ext "fields" $fields -}}
{{- return $single -}}
