{{- $path := path.Join .dir .file -}}
{{- $ext := index (split .file ".") 1 -}}
{{- $singles := slice -}}
{{- $fields := slice -}}
{{- $standardMenu := slice (dict "name" "string" "url" "string" "weight" 1 "parent" "string" "identifier" "string") -}}
{{- if eq .dir "/" -}}
    {{- $menus := dict}}
    {{- range $menu, $items := .menus -}}
          {{- $menus = $menus | merge (dict $menu $standardMenu) -}}
    {{- end -}}
    {{- $fields = $fields | append (partial "createField" (dict "key" "menu" "value" $menus "file" $path )) -}}
{{- else -}}
    {{- range $menu, $items := .menus -}}
          {{- $fields = $fields | append (partial "createField" (dict "key" $menu "value" $standardMenu "file" $path )) -}}
    {{- end -}}
{{- end -}}
{{- $single := dict "key" .key "title" (.key | humanize) "file" $path "dataformat" $ext "fields" $fields -}}
{{- return $single -}}
