{{- $path := path.Join .dir .file -}}
{{- $ext := index (split .file ".") 1 -}}
{{- $name := index (split .file ".") 0 -}}
{{- $fields := slice -}}
{{- $single := dict -}}
{{- $params := dict -}}
{{- with .params }} {{$params = . }}{{- end -}}

{{- if eq .dir "/" -}}
    {{- range $key, $value := .configItems -}}
          {{- $field := partial "createField" (dict "value" $value "key" $key "file" $path ) -}}
          {{- $fields = $fields | append $field -}}
    {{- end -}}
    {{- $fields = $fields | append (partial "createField" (dict "key" .paramsKey "value" .params "file" $path )) -}}
    {{- $path = .file -}}
{{- else -}}
    {{- range $key, $value := .params -}}
          {{- $field := partial "createField" (dict "value" $value "key" $key "file" $path  ) -}}
          {{- $fields = $fields | append $field -}}
    {{- end -}}
{{- end -}}
{{- $single = (dict "key" $name "title" "Settings" "file" $path "dataformat" $ext "fields" $fields) -}}
{{- return $single -}}
