{{- $file := .file -}}
{{- $key := .key -}}
{{- $field := dict -}}
{{- $value := .value -}}

{{- $poppy_components := .poppy_components }}

{{- $poppy_select := dict -}}
{{- with .params }} {{$poppy_select = . }}{{- end -}}
{{- if .file -}}
    {{- $key = partial "getRealKey" (dict "key" .key "file" .file ) -}}
{{- end -}}

{{- $pogoType := "" -}}
{{- if .type -}}
    {{- $pogoType = .type -}}
{{- else -}}
    {{- $pogoType = partial "pogoType" (dict "value" $value "key" $key) -}}
{{- end -}}
{{- $title := humanize $key -}}

{{- if not (eq $pogoType "skip") -}}
  {{- $field = dict "key" $key "title" $title "type" $pogoType -}}
{{- end -}}

{{- if (eq $pogoType "date") -}}
    {{- $field = merge $field (dict "default" "now") -}}
{{- end -}}

{{- if (eq $pogoType "section") -}}
  {{- $subfields := slice -}}
      {{- range $key, $value := $value -}}
          {{- $pogoType := partial "pogoType" (dict "value" $value "key" $key) -}}
          {{- $field := partial "createField" (dict "value" $value "key" $key "file" $file "params" $poppy_select) -}}
          {{- $subfields = $subfields | append $field -}}
      {{- end -}}
      {{- $field = merge $field (dict "groupdata" true "fields" $subfields) -}}
{{- end -}}

{{- if (eq $pogoType "nest") -}}
  {{- $subfields := slice -}}
      {{- range $key, $value := $value -}}
          {{- $pogoType := partial "pogoType" (dict "value" $value "key" $key) -}}
          {{- $field := partial "createField" (dict "value" $value "key" $key "file" $file "params" $poppy_select) -}}
          {{- $subfields = $subfields | append $field -}}
      {{- end -}}
      {{- $field = merge $field (dict "groupdata" true "fields" $subfields) -}}
{{- end -}}

{{- if (eq $pogoType "accordion") -}}
  {{- if or (eq $key "page_sections") (eq $key "subpage_sections") -}}
    {{- $subFields := slice -}}
    {{- $field = merge $field (dict "dynFormSearchKey" "component") -}}
    {{- $subField := partial "createField" (dict "value" "string" "key" "component" "file" $file "params" $poppy_select) -}}
    {{- $subFields = $subFields | append $subField -}}
    {{- $subFields = $subFields | append (dict "key" "name" "title" "Name" "type" "string" "arrayTitle" true) -}}
    {{- $field = merge $field (dict "fields" $subFields) -}}
  {{- else -}}
    {{- $subfields := slice -}}
    {{- $arrayTitle := "" -}}
    {{- $accordionKeys := slice -}}
    {{- $accordionItems := ( index $value 0 ) -}}
    {{- range $key, $value := $accordionItems -}}
        {{- $accordionKeys = $accordionKeys | append $key -}}
        {{ if or (eq $key "line") (eq $key "to") (eq $key "To") -}}
            {{- $arrayTitle = $key -}}
        {{- end -}}
    {{- end -}}

    {{- if in $accordionKeys "component_type" -}}
        {{- $arrayTitle = "component_type" -}}
    {{- else if in $accordionKeys "name" -}}
        {{- $arrayTitle = "name" -}}
    {{- else if (in $accordionKeys "title") -}}
        {{- $arrayTitle = "title" -}}
    {{- end -}}

    {{- if eq $arrayTitle "" -}}
        {{ $arrayTitle = index $accordionKeys 0 -}}
    {{- end -}}

    {{- range $key, $value := $accordionItems -}}
        {{- $pogoType := partial "pogoType" (dict "value" $value "key" $key) -}}
        {{- $field := partial "createField" (dict "value" $value "key" $key "file" $file "params" $poppy_select) -}}
        {{- if eq $key $arrayTitle -}}
            {{- $field = $field | merge (dict "arrayTitle" true ) -}}
        {{- end -}}
        {{- $subfields = $subfields | append $field -}}
    {{- end -}}
    {{- $field = merge $field (dict "fields" $subfields ) -}}
  {{- end -}}
{{- end -}}

{{- if (eq $pogoType "bundle-manager") -}}
    {{- $bundleFields :=  slice (partial "createField" (dict "key" "thumb" "type" "bundle-image-thumbnail")) -}}
    {{- $extensions := (slice "jpg" "png" "jpeg" "pdf" "svg" ) -}}
    {{- $field = merge $field (dict "path" $value "extensions" $extensions "fields" $bundleFields ) -}}
{{- end -}}

{{- if (eq $pogoType "info") -}}
    {{- $field = merge $field (dict "content" $value "theme" "gray-bare" ) -}}
{{- end -}}

{{- if eq $pogoType "string" -}}

  {{- $selectKeys := slice -}}
  {{- with $poppy_select -}}
      {{- range $selectKey, $value := . -}}
        {{- if eq $selectKey $key -}}
              {{- $field = dict "key" $key "title" $title "type" "select" -}}
              {{- $subfields := slice -}}
              {{- range $value -}}
                      {{- $field := dict "text" . "value" ( . | anchorize )  -}}
                      {{- $subfields = $subfields | append $field}}
              {{- end -}}
              {{- $field = merge $field (dict "multiple" false "options" $subfields) -}}
        {{- end -}}
      {{- end -}}
  {{- end -}}

{{- end -}}

{{- return $field -}}
