{{- $dir := .dir -}}
{{- $data := .data -}}
{{- $translations := .translations -}}
{{- $collections := slice -}}
{{- $singles := slice -}}
{{- $menu := slice -}}
{{- $params := dict -}}
{{- with .params }} {{$params = . }}{{- end -}}

{{- range $index, $file := (partial "rangeFiles" (dict "dir" $dir )) -}}
      {{- $language := "" -}}
      {{- $langCodes := partial "langCodes" . -}}
      {{- $subDir := (path.Base $dir) -}}
      {{- if .isfile -}}
            {{- if or ( in $translations $subDir) (not ( in $langCodes $subDir)) -}}
                {{- if and (in $langCodes $subDir) (gt (len $translations) 1) -}}
                    {{- $language = printf "%s | " $subDir -}}
                {{- end -}}
                {{- $path := printf "%s%s" .dir .file -}}
                {{- $fileName := index (split .file ".") 0 -}}
                {{- $fileExt := index (split .file ".") 1 -}}
                {{- $title := printf "%s%s" $language ($fileName | humanize) -}}
                {{- $dataKey := printf "ds_%s_%s" $subDir $fileName -}}
                {{- $fields := slice -}}
                {{- range $key, $value := (index $data $fileName) -}}
                    {{- $field := partial "createField" (dict "value" $value "key" $key "file" $path "params" $params ) -}}
                    {{- $fields = $fields | append $field -}}
                {{- end -}}
                {{- if gt (len $fields) 0 -}}
                    {{- $single :=  dict "key" $dataKey "title" $title "file" $path "dataformat" $fileExt "fields" $fields "previewUrl" "/" -}}
                    {{- $singles = $singles | append $single -}}
                    {{- $menu = $menu | append (dict "key" (index $single "key")) -}}
                {{- end -}}
            {{- end -}}

      {{- else if and .isdir (in $langCodes (path.Base .dir)) -}}
            {{- $data := partial "createDataItems" (dict "dir" $file.dir "data" (index $data .node) "translations" $translations "params" .params) -}}
            {{- $singles = $singles | append (index $data "singles") -}}
            {{- $menu = $menu | append (index $data "menu") -}}

      {{- else if .isdir -}}
            {{- $node := .node -}}
            {{- range first 1 (partial "rangeFiles" (dict "dir" .dir )) -}}
                {{- $name := (path.Base .dir) -}}
                {{- $dataKey := printf "dc_%s_%s" $subDir $name -}}
                {{- $dataTitle := $name | humanize -}}
                {{- $itemTitle := $dataTitle | singularize -}}
                {{- $fileExt := index (split .file ".") 1 -}}
                {{- $path := printf "%s%s" .dir .file -}}
                {{- $folder := strings.TrimLeft "/" .dir }}
                {{- $fileName := index (split .file ".") 0 -}}
                {{- $fields := slice -}}
                {{- range $key, $value := index (index $data $node) $fileName -}}
                    {{- $field := partial "createField" (dict "value" $value "key" $key "file" $path "params" .params ) -}}
                    {{- $fields = $fields | append $field -}}
                {{- end -}}
                {{- if gt (len $fields) 0 -}}
                    {{- $collection :=  dict "key" $dataKey "title" $dataTitle "folder" $folder "extension" $fileExt "dataformat" $fileExt "fields" $fields "itemtitle" $itemTitle  -}}
                    {{- $collections = $collections | append $collection -}}
                    {{- $menu = $menu | append (dict "key" (index $collection "key")) -}}
                {{- end -}}
            {{- end -}}
      {{ end }}
{{- end -}}
{{- return (dict "singles" $singles "menu" $menu "collections" $collections) -}}
