
{{- $filePath := "" -}}
{{- with .File -}} {{$filePath = .Path -}} {{- end -}}

{{- if in (path.Base $filePath) "index" -}}

    {{- if eq .File.Dir "/" -}}
        {{- if .Name -}}
            {{- .Name | anchorize -}}
        {{- else -}}
            {{- path.Base .File.BaseFileName }}
        {{- end -}}
    {{- else -}}
        {{- with .File.Dir -}}
          {{- if in (partial "langCodes" .) (path.Dir .) -}}
              {{- path.Split (path.Base . )| anchorize -}}
          {{- else -}}
              {{- path.Split (path.Base . )| anchorize -}}
          {{- end -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- with .File -}}
      {{- if in .TranslationBaseName "index" -}}
        {{- path.Split (path.Base .File.Dir )| anchorize -}}
      {{- else -}}
        {{- .TranslationBaseName -}}
      {{- end -}}
    {{- else -}}
      {{-  path.Base .Path  -}}
    {{- end -}}
{{- end -}}
