{{- $dir := .dir -}}
{{- $data := .data -}}
{{- $translations := .translations -}}
{{- $singles := slice -}}
{{- $menu := slice -}}

{{- range $index, $file := (partial "rangeFiles" (dict "dir" $dir )) -}}
      {{- $language := "" -}}
      {{- if .file }}
            {{- $lang := (path.Base $dir) -}}
            {{- if in $translations $lang -}}
                {{- $language = printf "%s | " $lang -}}
            {{- end -}}

            {{- $fields := slice -}}
            {{- $path := printf "%s%s" .dir .file -}}
            {{- $fileName := index (split .file ".") 0 -}}
            {{- $fileExt := index (split .file ".") 1 -}}
            {{- $title := printf "%s%s" $language ($fileName | humanize) -}}
            {{- $dataKey := printf "d_%s_%s" $fileName $language -}}
            {{- range $key, $value := (index $data $fileName) -}}
                {{- $field := partial "createField" (dict "value" $value "key" $key "file" $path ) -}}
                {{- $fields = $fields | append $field -}}
            {{- end -}}
            {{- if gt (len $fields) 0 -}}
                {{- $single :=  dict "key" $dataKey "title" $title "file" $path "dataformat" $fileExt "fields" $fields "previewUrl" "/" -}}
                {{- $singles = $singles | append $single -}}
                {{- $menu = $menu | append (dict "key" (index $single "key")) -}}
            {{- end -}}

      {{ else }}
            {{- $data := partial "createDataSingles" (dict "dir" $file.dir "data" (index $data .node) "translations" $translations) -}}
            {{- $singles = $singles | append (index $data "singles") -}}
            {{- $menu = $menu | append (index $data "menu") -}}
      {{ end }}
{{- end -}}
{{- return (dict "singles" $singles "menu" $menu  )}}
