{{- $contentDir := (partial "getContentDir" .page ) -}}
{{- $poppy_components := .poppy_components -}}
{{- $params := dict -}}
{{- with .params }} {{$params = . }}{{- end -}}
{{- $language := "" -}}
{{- if .language -}}
    {{- $language = .language -}}
{{- else -}}
    {{- $language = partial "getLanguage" .page -}}
{{- end -}}
{{- $baseKey := partial "createKey" .page  -}}
{{- $pageKey := printf "%s%s_%s" .prefix $language $baseKey  -}}
{{- if $language -}} {{ $language = (printf "%s | " $language) }} {{- end -}}
{{- $pageTitle := printf "%s%s"  $language ($baseKey | humanize) -}}
{{- if .page.File -}}
    {{- if and (.page.IsSection) (gt (len .page.RegularPages) 0 ) -}}
      {{- $pageTitle = printf "%s listpage" $pageTitle  -}}
    {{- end -}}
{{- end -}}

{{- $path := .page.RelPermalink -}}
{{- if eq $path "/sukoh.json" -}}
    {{- $path = "/" -}}
{{- end -}}
{{- $file := "" -}}
{{- with .page.File -}}
    {{- $file = printf "%s%s" $contentDir .Path -}}
{{- end -}}
{{- $fields := slice -}}
{{- $linkInfo := printf "Relative link of this page: %s" $path -}}
{{- $fields = $fields | append (slice (partial "createField" (dict "value" $linkInfo "key" (printf "info-%s" $pageKey) "type" "info"))) -}}
{{- $fields = $fields | append (partial "createResourceBundleManagers" (dict "page" .page "dir" (path.Dir $file))) -}}
{{- $fields = $fields | append (partial "createField" (dict "value" .page.Content "key" "mainContent" )) -}}
{{- $page := .page}}
{{- $filePath := "" -}}
{{- with $page.File -}} {{ $filePath = .Path -}} {{- end -}}
{{- range $key, $value := .page.Params -}}
    {{- if ne $key "maincontent" -}}
        {{- $field := partial "createField" (dict "value" $value "key" $key "file" $filePath "params" $params "poppy_components" $poppy_components) -}}
        {{- $fields = $fields | append $field -}}
    {{- end -}}
{{- end -}}
{{- $previewUrl := "" -}}
{{- if .page.RelPermalink  -}}
    {{- $previewUrl = $path -}}
{{- else }}
    {{- $previewUrl = "/" -}}
{{- end -}}
{{- $fields = partial "sortFields" $fields -}}
{{- $single :=  dict "key" $pageKey "title" $pageTitle "file" $file "dataformat" "yaml" "fields" $fields "previewUrl" $previewUrl -}}
{{- return $single -}}
