{{- $contentDir := "" -}}
{{- with .Site.Language.ContentDir -}}
    {{- $contentDir = printf "%s/" . -}}
{{ else }}
    {{- $subDir := "" -}}
    {{- with .File.Dir }}
      {{- $path := split . "/" -}}
      {{- if in . "data"}}
          {{- $subDir = path.Dir (path.Dir .) -}}
      {{- end -}}
    {{- end -}}
    {{- if or (eq $subDir ".") (eq $subDir "") -}}
        {{- $contentDir = "content/" -}}
    {{- else -}}
        {{- $contentDir = printf "content/%s/" $subDir -}}
    {{- end -}}
{{- end -}}
{{- return $contentDir -}}
