{{- $delimiter := substr (readFile .file ) 0 3 -}}
{{- $frontmatter := index (split (readFile .file ) $delimiter ) 1  -}}
{{- $lines := split $frontmatter "\n" -}}
{{- $realKey := "" -}}
{{- $key := .key -}}
{{- range $lines -}}
    {{- if in . " =" -}}
      {{- $realKey = (index (split . " =" ) 0 )  -}}
    {{- else if in . "=" -}}
      {{- $realKey = (index (split . "=" ) 0 ) -}}
    {{- else if in . " :" -}}
      {{- $realKey = (index (split . " :" ) 0 ) -}}
    {{- else if in . ":" -}}
      {{- $realKey = (index (split . ":" ) 0 ) -}}
    {{- else if and (in . "]") (not ( in . ".")) -}}
      {{- $realKey = trim . "[]" -}}
    {{- else if in . "]" -}}
      {{- $realKey = trim (index (last 1 (split . "." )) 0) "[]" -}}
    {{- end -}}
    {{- if eq (lower $realKey) $key -}}
        {{- $key = $realKey -}}
    {{- end -}}
{{- end -}}
{{- return $key -}}
