{{- $value := .value -}}
{{- $key := .key -}}
{{- $pogoType := "" -}}
{{- $type := (printf "%T" $value) -}}
{{- if (eq "bool" $type) -}}
  {{- $pogoType = "boolean" -}}
{{- else if (or (eq "int" $type) (eq "int64" $type) (eq "float64" $type)) -}}
  {{- $pogoType = "number" -}}
{{- else if (eq "string" $type) -}}
  {{- $pogoType = "string" -}}
{{- else if or ( eq "template.HTML" $type ) -}}
  {{- $pogoType = "markdown" -}}
{{- else if (eq "time.Time" $type) -}}
  {{- if (eq $value "Lastmod") -}}
    {{- $pogoType = "info"}}
  {{- else -}}
    {{- $pogoType = "date"}}
  {{- end -}}
{{- else if reflect.IsSlice $value -}}
  {{- if  reflect.IsMap ( index $value 0 ) -}}
      {{- $pogoType = "accordion" }}
  {{- else -}}
      {{- $pogoType = "chips" }}
  {{- end -}}
{{- else if reflect.IsMap $value -}}
  {{- $pogoType = "section" -}}
{{- else -}}
  {{- $pogoType = "hidden" -}}
{{- end -}}
{{- if or (eq $key "publishdate") (eq $key "lastmod") (eq $key "iscjklanguage") (eq $key "resources") (eq $key "previewUrl") -}}
    {{- $pogoType = "hidden" -}}
{{- end -}}
{{- return $pogoType -}}
