{{- $value := .value -}}
{{- $key := .key -}}
{{- $pogoType := "" -}}
{{- $type := (printf "%T" $value) -}}
{{- $stringLen := 0 -}}
{{- $selectKeys := slice -}}

{{- if (eq "bool" $type) -}}
    {{- $pogoType = "boolean" -}}
{{- else if (or (eq "int" $type) (eq "int64" $type) (eq "float64" $type)) -}}
    {{- $pogoType = "number" -}}
{{- else if (eq "string" $type) -}}
    {{- $pogoType = "string" -}}
    {{- $stringLen = len $value -}}
    {{- if gt $stringLen 40}}
        {{- $pogoType = "markdown" -}}
    {{- end -}}
{{- else if (eq "template.HTML" $type ) -}}
    {{- $pogoType = "markdown" -}}
{{- else if (eq "time.Time" $type) -}}
    {{- if or (eq $key "Lastmod") (eq $key "lastmod") -}}
      {{- $pogoType = "info"}}
    {{- else -}}
      {{- $pogoType = "date"}}
    {{- end -}}
{{- else if reflect.IsSlice $value -}}
    {{- if  reflect.IsMap ( index $value 0 ) -}}
        {{- $pogoType = "accordion" }}
    {{- else -}}
        {{- $pogoType = "chips" }}
    {{- end -}}
{{- else if reflect.IsMap $value -}}
    {{- $pogoType = "nest" -}}
{{- else if or (eq $key "Lastmod") (eq $key "lastmod") -}}
      {{- $pogoType = "info"}}
{{- else -}}
    {{- $pogoType = "hidden" -}}
{{- end -}}

{{- if or (eq $key "iscjklanguage") (eq $key "resources") (eq $key "previewUrl") -}}
    {{- $pogoType = "skip" -}}
{{- end -}}

{{- if eq $key "key" -}}
    {{- $pogoType = "readonly" -}}
{{- end -}}

{{- return $pogoType -}}
