{{- $unsorted := . -}}
{{- $sorted := slice -}}
{{- $order := slice -}}

{{- range . }}
    {{ if eq .type "info" -}}
        {{- $order = $order | append .key -}}
    {{- end -}}
{{- end -}}
{{- range . }}
    {{ if or (in .type "bundle-image") -}}
        {{- $order = $order | append .key -}}
    {{- end -}}
{{- end -}}

{{- $order := $order | append (slice "component" "title" "subtitle" "description" "page_sections" "subpage_sections") -}}
{{- range . }}
    {{ if or (in .key "image") (in .key "Image") -}}
        {{- $order = $order | append .key -}}
    {{- end -}}
{{- end -}}
{{- range . }}
    {{ if or (in .key "price") (in .key "Price") -}}
        {{- $order = $order | append .key -}}
    {{- end -}}
{{- end -}}
{{- range . }}
    {{ if (in .key "mainContent") -}}
        {{- $order = $order | append "mainContent" -}}
    {{- end -}}
{{- end -}}


{{- range $order -}}
    {{- $sorted = $sorted | append (where $unsorted "key" "eq" . ) -}}
{{- end -}}

{{- range where . "key" "not in" $order -}}
    {{- $sorted = $sorted | append . -}}
{{- end -}}

{{- return $sorted -}}
