/* ==== ANIMATIONS ==== */

.animated { animation-duration: .6s; animation-fill-mode: both; }
.animated-fast { animation-duration: .3s; animation-fill-mode: both; }
.animated-faster { animation-duration: .15s; animation-fill-mode: both; }
.animated.infinite { animation-iteration-count: infinite; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fadeIn { animation-name: fadeIn; }


@keyframes bounce {
  from, 20%, 53%, 80%, to { transform: translate3d(0, 0, 0); }
  40%, 43% { transform: translate3d(0, -30px, 0); }
  70% { transform: translate3d(0, -15px, 0); }
  90% { transform: translate3d(0, -4px, 0); }
}
.bounce { animation-name: bounce; transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.flash { animation-name: flash; }

@keyframes slideInDown {
  from { transform: translate3d(0, -100%, 0); visibility: visible; }
  to { transform: translate3d(0, 0, 0); }
}
.slideInDown { animation-name: slideInDown; }

@keyframes slideInLeft {
  from { transform: translate3d(-100%, 0, 0); visibility: visible; }
  to { transform: translate3d(0, 0, 0); }
}
.slideInLeft { animation-name: slideInLeft; }

@keyframes slideFadeInLeft {
  from { transform: translate3d(-100%, 0, 0); opacity:0; visibility: visible; }
  to { transform: translate3d(0, 0, 0); opacity:1; }
}
.slideFadeInLeft { animation-name: slideFadeInLeft; }

@keyframes slideInRight {
  from { transform: translate3d(100%, 0, 0); visibility: visible; }
  to { transform: translate3d(0, 0, 0); }
}
.slideInRight {   animation-name: slideInRight; }

@keyframes slideFadeInRight {
  from { transform: translate3d(100%, 0, 0); opacity:0; visibility: visible; }
  to { transform: translate3d(0, 0, 0); opacity:1; }
}
.slideFadeInRight {   animation-name: slideFadeInRight; }

@keyframes slideInUp {
  from { transform: translate3d(0, 100%, 0); visibility: visible; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
.slideInUp { animation-name: slideInUp; }

@keyframes zoomInLeft {
  from { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);     animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);  }
}
.zoomInLeft { animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
.zoomInRight { animation-name: zoomInRight; }

@keyframes zoomIn {
  from { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; }
}
.zoomIn { animation-name: zoomIn; }

@keyframes rubberBand {
  from { transform: scale3d(1, 1, 1);}
  30% { transform: scale3d(1.25, 0.75, 1); }
  40% { transform: scale3d(0.75, 1.25, 1); }
  50% { transform: scale3d(1.15, 0.85, 1); }
  65% { transform: scale3d(0.95, 1.05, 1); }
  75% { transform: scale3d(1.05, 0.95, 1); }
  to { transform: scale3d(1, 1, 1); }
}
.rubberBand { animation-name: rubberBand; }
