/* ==== FONTS ==== */

/* roboto-mono-300 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
       url('../app-ui-styles/quiqr10/fonts/roboto-mono-v5-latin-300.woff2') format('woff2')
}
/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('../app-ui-styles/quiqr10/fonts/roboto-mono-v5-latin-regular.woff2') format('woff2')
}
/* roboto-mono-italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-mono-v5-latin-italic.woff2') format('woff2')
}
/* roboto-mono-500 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
       url('../app-ui-styles/quiqr10/fonts/roboto-mono-v5-latin-500.woff2') format('woff2')
}
/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
       url('../app-ui-styles/quiqr10/fonts/roboto-mono-v5-latin-700.woff2') format('woff2')
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;

  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-100.woff2') format('woff2');
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-100italic.woff2') format('woff2');

}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-300.woff2') format('woff2');
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-300italic.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-regular.woff2') format('woff2');
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-italic.woff2') format('woff2');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-500.woff2') format('woff2');
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-500italic.woff2') format('woff2');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-700.woff2') format('woff2');
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-700italic.woff2') format('woff2');
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-900.woff2') format('woff2');
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('../app-ui-styles/quiqr10/fonts/roboto-v18-latin-900italic.woff2') format('woff2');
}
